@font-face {
    font-family: "Nirmala UI Semilight";
    src: url("http://db.onlinewebfonts.com/t/b5eae9bab2129f4acd5fcd349dc804fe.woff");
}
html, body {
    font-family: Nirmala UI Semilight;
	background-color: white;
}
input[type=range]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.navbar{
	-webkit-box-shadow: 0 4px 6px -6px #222;
     -moz-box-shadow: 0 4px 6px -6px #222;
     box-shadow: 0 4px 6px -6px #222;
     padding-left: 50px;
}
.pacos-input-search{
	width: 400px;
}
.pacos-foto-perfil-nav{
	border-radius: 50%;
}
.box-pacos {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}
.input-reseña{
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	width: 80%
}
.pacos-menu-left{
	height: 100vh; 
	background-color: rgb(245,245,245);
	text-align: center;
	padding-top: 20px;
}
.pacos-div-right{
	height: 100vh;
	padding-top: 30px;
	padding-left: 20px;
}
.pacos-hacer-reseñas{
	margin-top: 10px;
	max-width: 99%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.is-active-pacos{
	color: rgb(210,23,52);
}
.mini-logopacos{
	width: 20px;
	height: 20px;
}
/*flexbox para queries*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  
}
.pacos-sitio{
    margin-top: 20px;
    margin-right: 10px;
    
}
.level-item{
  color: #414d58;
}
.pacos{
  display: none;
}
.pacos-columns-categorias{
  margin-top: 10px;
  cursor: pointer;
}
.pacos-column-todospacos{
  background-color: rgb(210,23,52);
  color: white !important;
  width: 90%;
  height: 45px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  text-align: left;
  padding-left: 40px;
  }
.pacos-column-categoria{
  background-color: inherit;
  color: black;
  width: 90%;
  height: 45px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  text-align: left;
  padding-left: 40px;
}
.pacos-column-catselected{
  background-color: rgb(210,23,53);
  color: black;
  width: 90%;
  height: 45px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  text-align: left;
  padding-left: 40px;
}
.pacos-btn-categoria{
  margin-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: rgb(245, 245, 245);
  color: black;
}
.pacos-name-categoria{
  margin-top: 10px;
  position: absolute;
  margin-left: 10px;
}
.pacos-cant-pacos-categoria{
  position: absolute;
  margin-top: 10px;
  margin-left: 14%;
}
.cat-white{
  color: white !important;
}
.cat-black{
  color: black !important;
}

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .navbar{
     padding-left: 0px;
	}
  .pacos-menu-left{
    height: 25vh;
    overflow-y: auto;
  }
  .pacos-div-right{
    margin-top: -20px;
  }
  .flex-container{
    display: block;
  }
  .pacos-sitio{
    margin-right: 0px;
  }
  .pacos{
    display: block;
  }
  .modal-content, .modal-card{
    width: 90%;
    margin-right: 20px;
  }
  .pacos-name-categoria{
    top: 10px;
    position: relative;
    left: 0px;
}
.pacos-cant-pacos-categoria{
    position: relative;
    top: 10px;
    left: 43%;
  }
}